<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
	<h3><b>{{ pessoa.upper() }} - Termo pesquisado: '{{ busca }}'</b></h3>

{% if dados %}
	<h3><b>ARTIGOS</b></h3
>	<p class="lead" style="font-size: 18px" >
		{% for artigo in dados.get('artigos') %}
		{{artigo}} <br>
		{% endfor %}
    </p>


	<h3><b>LIVROS</b></h3>
	<p class="lead" style="font-size: 18px" >
		{% for livro in dados.get('livros') %}
		{{livro}} <br>
		{% endfor %}
    </p>


	<h3><b>TESES</b></h3>
	<p class="lead" style="font-size: 18px" >
		{% for tese in dados.get('teses') %}
		{{tese}} <br>
		{% endfor %}
    </p>


	<h3><b>CAPITULOS</b></h3>
	<p class="lead" style="font-size: 18px" >
		{% for capitulo in dados.get('capitulos') %}
		{{capitulo}} <br>
		{% endfor %}
    </p>

    <h3><b>DOCUMENTOS</b></h3>
	<p class="lead" style="font-size: 18px" >
		{% for documento in dados.get('documentos') %}
		{{documento}} <br>
		{% endfor %}
    </p>


{% endif %} </p>
	<hr>
</div>
{% endblock %}